# Does not work on proxmox reboot
[Unit]
Description=Add static routes
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/proxmox/container_ip.conf
ExecStart=/bin/bash -c 'until ip route add ${WG_SUBNET} via ${WG_LXC_IP} 2>/dev/null; do sleep 2; done'
TimeoutStartSec=60
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
